// Purple
// $baseColor: #383276;
// $darkColor: #1F1958;
// $darkerColor: #0D083B;
// $lightColor: #595493;
// $lighterColor: #837EB1;

// Color palette Blue-ish
$baseColor: #2A4E6E;
$darkColor: #133452;
$darkerColor: #041F37;
$lightColor: #496B89;
$lighterColor: #718CA4;

// Layout
$containerWidth: 960px;
$sideBarWidth: 320px;
