& {
  display: flex;
  position: relative;
  height: 70px;
  border-bottom: 1px solid $secondaryDark;
  .group-img {
    color: $grey50;
    width: $imgMd;
    height: $imgMd;
    line-height: $imgMd;
    font-size: 25px;
    margin: 10px;
    background-color: $primaryBase;
    text-transform: uppercase;
    box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }
  .content {
    margin: 5px 0;
    text-align: left;
    .name {
      display: block;
      font-size: $baseFontSize + 5px;
      height: 30px;
      line-height: 30px;

      a.active {
        color: $primaryBase;
      }
    }
    .user-list {
      li {
        display: inline-block;
      }
      .user-avatar {
        display: inline-block;
        background-size: cover;
        background-position: center center;
        height: $imgSm;
        width: $imgSm;
      }
    }
  }
}
