& {
  display: flex;
  position: relative;
  height: 70px;
  border-bottom: 1px solid $secondaryDark;

  .group-img {
    color: $grey50;
    width: $imgMd;
    height: $imgMd;
    line-height: $imgMd;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    background-color: $primaryBase;
    text-transform: uppercase;
  }
  .content {
    margin: 5px 0;
    text-align: left;
    .name {
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      height: 30px;
      line-height: 30px;

      a {
        color: $grey400;
      }

      a.active {
        color: $primaryBase;
      }
    }
    .user-list {
      li {
        display: inline-block;
      }
      .user-avatar {
        display: inline-block;
        background-size: cover;
        background-position: center center;
        height: $imgSm;
        width: $imgSm;
      }
    }
  }
}
