<div class="img--circle group-img" style="background-color: {{groupLetterColor}}">
  {{groupFirstLetter}}
</div>
<div class="content">
  <div class="name">
    {{#link-to "group" group.hashId}}
      {{group.name}}
    {{/link-to}}
  </div>

  <div class="user-list">
    {{#each group.groupMembers as |member|}}
      <li><div class="img--circle user-avatar" style="background-image: url('{{member.user.avatarUrl}}')"></div></li>
    {{/each}}
  </div>
</div>
