<div class="form-control">
  {{input type="text" value=name placeholder="Group Name"}}
</div>

<div class="form-control">
  {{input type="text" value=description placeholder="Group Description"}}
</div>

<button type="button" class="btn btn--primary" {{action "createGroup"}}>Create Group</button>
<button type="button" class="btn" {{action "cancelCreateAction"}}>Cancel</button>
