& {
  position: relative;
  padding: 10px;
  border-bottom: 2px solid $secondaryDark;

  &.blurred {
    .transaction-card-content {
      -webkit-filter: blur(7px);
      -moz-filter: blur(7px);
      -o-filter: blur(7px);
      -ms-filter: blur(7px);
      filter: blur(7px);

      // Force hardware acceleration
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -o-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .sub-line {
    color: $grey600;
    text-align: right;
    margin-top: 10px;
    li {
      display: inline-block;
      font-size: 12px;
      letter-spacing: 1px;
      margin-right: 8px;
      i.fa {
        font-size: 18px;
        cursor: pointer;

        &:hover {
          color: $grey400;
        }
      }
    }
  }
}
