& {
  position: absolute;
    top: 50%;
    left: 50%;
  margin-top: -58px;
  margin-left: -113px;

  .site-name {
    color: $primaryBase;
  }

  .btn--facebook-login {
    color: $grey100;
    background-color: #3b5998;
    border: none;
    border-radius: 5px;
  }
}
