{{#each transactions as |transaction|}}
  {{transaction-card
    transaction=transaction
    transactionUpdated="transactionUpdated"
  }}
{{else}}
  <h5 class="status-text center-align">You currently have no transactions {{#if user}}with {{user.name}}{{/if}}</h5>
{{/each}}
