$actionBarClosedHeight: 52px;
$actionBarOpenHeight: 180px;

& {
  position: relative;
    left: 0;
    z-index: 1100;
  width: $sideBarWidth;
  height: 100%;
  min-width: $sideBarWidth;
  background-color: $secondaryBase;
  text-align: center;
  box-shadow: 2px 0px 20px 1px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;

  > .bar-content {
    height: calc(100% - 52px);
    overflow-y: auto;
  }

  &.open-actionbar > .bar-content {
    height: calc(100% - 180px);
  }

  &.toggleable {
    position: absolute;
  }

  &.closed {
    left: -$sideBarWidth - 10px;

    .toggle-handle {
      right: -57px;
    }
  }

  .toggle-handle {
    position: absolute;
      top: 0;
      right: -47px;
      z-index: 1100;
    padding: 5px 15px;
    background-color: $secondaryBase;
    box-shadow: 3px 1px 6px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    .fa {
      font-size: 20px;
      color: $primaryBase;
    }
  }

  .status-text {
    padding: 20px 10px;
  }

  .side-headers {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 5px solid $secondaryDark;
  }

  .side-header-input > input {
    font-size: 19px;
    padding: 15px;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid $secondaryDark;

    &:focus {
      border-color: $primaryBase;
    }
  }

  .side-tabs {
    display: flex;
    box-shadow: 0px -4px 28px rgba(0,0,0,0.3);
  }

  .side-tabs-item {
    width: 50%;
    font-weight: 100;
    font-size: $baseFontSize - 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid $secondaryDark;

    &-active {
      border-color: $primaryBase;
    }
  }

  .fixed-bottom {
    position: absolute;
      left: 0;
      bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: $grey800;
  }
}
