& {
  position: relative;
  display: block;
  margin: 10px 0;
  border-radius: 3px;
  background-color: $secondaryLight;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.3);

  .content-container {
    display: flex;
  }

  &.blurred {
    .content-container {
      -webkit-filter: blur(7px);
      -moz-filter: blur(7px);
      -o-filter: blur(7px);
      -ms-filter: blur(7px);
      filter: blur(7px);

      // Force hardware acceleration
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -o-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .avatar {
    background-size: cover;
    background-position: center center;
    margin: 10px;
    width: $imgLg;
    height: $imgLg;
  }

  .content {
    display: block;
    margin: 10px;
    margin-left: 0;

    .primary {
      display: block;
      margin-bottom: 10px;
    }

    .name {
      display: inline-block;
      font-size: 25px;
      font-weight: 300;
    }
  }

  .user-balance {
    position: absolute;
      top: 0;
      right: 0;
    padding-left: 10px;
    font-size: 20px;
    padding: 16px;
    color: $secondaryLighter;

    &.positive {
      color: $primaryDark;
    }
    &.negative {
      color: #FF5555;
    }
  }
}
