& {
  position: absolute;
    top: 0;
    left: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.7);
  border-radius: 3px;

  .btn {
    margin-bottom: 4px;
  }

  textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid $grey400;
    padding: 5px;
    font-size: 14px;
    resize: none;
    margin: 5px;
    border-radius: 0px;
    padding-top: 10px;

    &:focus {
      border-color: $primaryBase;
    }
  }

  .transaction-type {
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;

    span:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      margin-right: -5px;
    }

    span:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    span {
      color: $grey400;
      position: relative;
        z-index: 1;
      padding: 5px 10px;
      border: 1px solid $secondaryLight;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        z-index: 2;
        color: $primaryLighter;
        border-color: $primaryBase;
      }

      &.active {
        z-index: 2;
        color: $primaryLighter;
        border-color: $primaryBase;
      }
    }

  }

  .transaction-content {
    display: flex;
    padding-top: 35px;
  }

  .currency-input-group {
    display: inline-block;
    background-color: transparent;
    padding: 5px;
    font-size: 30px;
    min-width: 155px;
    &:before {
      content: "$";
      color: $primaryBase;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input {
      display: inline-block;
      font-size: 30px;
      padding: 0px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $grey400;
      background: transparent;

      &:focus {
        border-color: $primaryBase;
      }
    }

    input:first-of-type {
      margin-right: -5px;
      text-align: right;
      width: 70px;

      &::after {
        content: ".";
      }
    }

    input:last-of-type {
      margin-left: -5px;
      width: 35px;
    }
  }

  .close {
    position: absolute;
      top: 10px;
      right: 10px;
    cursor: pointer;
  }
}
