$cardHeight: 60px;

& {
  position: relative;
  height: $cardHeight;
  border-bottom: 1px solid $secondaryDark;

  .group-img {
    width: $imgMd;
    height: $imgMd;
    background-size: cover;
    background-position: center center;
    margin: 10px;
    background-color: $primaryBase;
  }
  .content {
    margin: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;

    .member-main {
      display: flex;
    }

    .member-content {
      margin-top: 10px;
    }

    .member-amount {
      text-align:right;
    }

    .name {
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      height: 20px;
      line-height: 20px;

      a {
        color: $grey400;
      }

      a.active {
        color: $primaryBase;
      }
    }
    .user-balance {
      color: $secondaryLighter;
    }
  }
}
