<div class="img--circle group-img" style="background-image: url('{{friendship.friend.avatarUrl}}')"></div>
<div class="content">
  <div class="name">
    {{#link-to "friendship" friendship.hashId}}
      {{friendship.friend.name}}
    {{/link-to}}
  </div>
  <div class="user-balance {{balanceStatus}}">
    {{friendship.formattedBalance}}
  </div>
</div>
